{% extends 'base.html.twig' %}

{% block title %}Ajouter une formation{% endblock %}

{% block contenu %}

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste</a>
{% endblock %}
