{% extends 'base.html.twig' %}

{% block contenu %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur Prostages !</h1>
  <p class="lead">Trouvez votre stage en quelques clics.</p>
  <a class="btn btn-primary btn-lg" href="/stages" role="button">Voir les stages</a>
</div>

{% endblock %}
